*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#submit{
    background-color: #454CAD;
    color: white;
    width: 60px;
    height: 30px;
    border: 1px solid black;
}
.res{
    height: 200px;
    width: 200px;
}
img{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}